@charset "UTF-8";

@-webkit-keyframes button-pulse-full {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes button-pulse-full {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes button-phone {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  2% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  4% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  6% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  8% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  10% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  12% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  14% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  16% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  18% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  20% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  22% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  24% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  26% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  28% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  32% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  34% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  36% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  38% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  40% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  42% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  44% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  46% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
}
@keyframes button-phone {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  2% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  4% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  6% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  8% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  10% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  12% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  14% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  16% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  18% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  20% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  22% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  24% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  26% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  28% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  32% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  34% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  36% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  38% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  40% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  42% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  44% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
  }
  46% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
}

.c2c-modal button,
.c2c-widget {
  cursor: pointer;
}
.c2c-modal,
.c2c-widget {
  font-size: 16px;
}

.c2c-modal p,
.c2c-widget p,
.c2c-modal button,
.c2c-widget button {
  font-size: 1em;
  line-height: 1.3em;
}
.c2c-modal h1 {
  font-size: 2em;
  margin: auto;
  font-weight: bold;
}
.c2c-widget h5 {
  font-size: 1.2em;
  margin: auto;
  font-weight: bold;
  margin: 0.5em;
}
.c2c-widget p {
  margin-bottom: 1em;
}
.c2c-widget button,
.c2c-modal button {
  padding: 0 !important;
}
.c2c-linkout {
  padding: 0.5em 0;
}
.c2c-modal button a,
.c2c-widget button a {
  width: 100%;
  display: block;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.c2c-modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 1s;
  max-width: 350px;
  width: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.c2c-modal.modal--open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  top: 50%;
}
.c2c-modal .modal-img {
  max-width: 50px;
  margin: auto auto 0.5em auto;
}
.c2c-modal .body-item-2 {
  font-size: 1.2em;
  font-weight: bold;
}
.c2c-modal button:not(.close-modal) {
  border: 0;
  border-radius: 50px;
  width: 100%;
  font-weight: bold;
}
.c2c-modal button.close-modal {
  border: 0;
  background: none;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0;
}
.c2c-modal .body-content {
  margin: 1em auto;
}
.c2c-modal .body-content .body-item-2 {
  margin: 0.5em auto;
}
.c2c-widget {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 999;
}
.c2c-widget.widget--footer {
  position: absolute;
  z-index: 999;
  height: 50px;
}
.open {
  visibility: visible !important;
  opacity: 1 !important;
}
#phone-widget-container {
  position: relative;
}
.phone--widget .phone-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: red;
  color: white;
  border: none;
}
.phone--widget button.animate-button span {
  animation-name: button-phone;
  animation-timing-function: linear;
  animation-duration: inherit;
  animation-delay: -0.5s;
}
.phone--widget button span {
  transform: rotateZ(0);
  display: block;
}
.phone--widget .phone-button span img {
  max-width: 60%;
}
.phone--widget .phone-button::after,
.phone--widget .phone-button::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-width: 2px;
  border-color: inherit;
  border-style: solid;
  top: 0px;
  left: 0px;
  opacity: 0;
}
.phone--widget .phone-button.animate-button::after {
  animation-name: button-pulse-full;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-duration: inherit;
}
.phone--widget .phone-button.animate-button::before {
  animation-name: button-pulse-full;
  animation-timing-function: linear;
  animation-duration: inherit;
}
.c2c-widget .tooltip {
  min-width: 300px;
  border-radius: 10px;
  background: white;
  padding: 1em;
  position: absolute;
  top: calc((350px / 2 + 10px) * -1);
  left: calc(310px * -1);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.c2c-widget .tooltip button {
  border-radius: 50px;
  background: rgba(190, 69, 69, 0.6);
  border: none;
  max-width: 200px;
  width: 100%;
  margin: auto;
  display: block;
}
.c2c-modal .tty-disclosure {
  margin-top: 1.25em;
  font-size: 0.85em;
}

@media screen and (max-width: 767px) {
  .c2c-widget {
    bottom: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .c2c-widget .tooltip {
    min-width: 200px;
    top: calc((400px / 2 + 10px) * -1);
    left: calc(200px * -1);
  }
}
